{% extends "AcmeBillerBundle::layout.html.twig" %}

{% block title 'Calculate a bill' %}

{% block content %}
    {% if entity is defined %}
        <h2>Use case <small id="test-hook-id" title="I do not like singletons, but for the cause of unit testing on the frontend side, here it is.">{{ app.request.get('u') }}</small></h2>
        <table class="table table-hover">
            <caption>Bill summary</caption>
            <tbody>
                {% for line in entity.getLineList %}
                {% if line.istaxable is sameas(true) %}
                    {% set taxableNote = '(taxable)' %}
                {% else %}
                    {% set taxableNote = '' %}
                {% endif %}
                <tr>
                    <th>{{ line.description}}&nbsp;<small>{{ taxableNote }}</small></th>
                    <td>$ {{ line.getSalePrice|number_format(2) }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Sub total</th>
                    <td><strong>$ {{ entity.getSubtotal|number_format(2) }}</strong></td>
                </tr>
                <tr>
                    <th>Sales Taxes</th>
                    <td><strong>$ {{ entity.getTaxSum|number_format(2) }}</strong></td>
                </tr>
                <tr>
                    <th>Total</th>
                    <td><strong>$ {{ entity.getTotal|number_format(2) }}</strong></td>
                </tr>
            </tfoot>
        </table>
        <div class="well">
            <a href="{{ path('bill_index') }}" class="btn">Back</a>
        </div>
    {% endif %}
{% endblock %}
